body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Torney Comic", Arial, sans-serif;
}

@font-face {
    font-family: "Torney Comic";
    src: url("font/Torney_Comic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.page-container {
    background-color: white;
    background-image: radial-gradient(#d1d5db 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 30;
}


.title {
    font-size: 80px;
    color: #010000;
    letter-spacing: 5px;
    line-height: 1.25;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 40px;

}

.subtitle {
    font-size: 70px;
    color: #D4A674;
    /* margin: 20px 0; */
    letter-spacing: 5px;
    line-height: 1.25;
    margin-top: 25px;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    z-index: 3;
    position: relative;
}

.bg {
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    object-fit: contain;
}


@media (max-width: 1680px) {
    .title {
        font-size: 70px;
        margin-top: 0px;
    }

    .subtitle {
        font-size: 60px;
    }


    .logo {
        width: 150px;
        margin-top: 2%;
    }
}

@media (max-width: 1440px) {
    .title {
        font-size: 60px;
        margin-top: 30px;
    }

    .subtitle {
        font-size: 50px;
    }

}

@media (max-width: 1024px) {
    .title {
        font-size: 50px;
        margin-top: 50px;
    }

    .subtitle {
        font-size: 40px;
    }

    .logo {
        margin-top: 5%;
    }
}


@media (max-width: 767px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 30px;
    }


    .logo {
        width: 125px;
        margin-top: 10%;
    }

    .content {
        margin: 25% 0%;
    }
}